[flake8]
exclude = venv, __init__.py
select = B,B9,C,D,DAR,E,F,N,RST,S,W
count = True
max-complexity = 10
max-line-length = 100
statistics = True
ignore =
  # Whitespace before ':'.
  E203,
  # Line too long (82 > 79 characters).
  E501,
  # Line break occurred before a binary operator.
  W503,
  # Invalid escape sequence
  W605,
  # undefined name name
  F821,
  # Function is too complex
  C901,
  # https://docs.python.org/3/tutorial/errors.html#exception-chaining for details
  B904,
  # camelcase imported as lowercase
  N813
  #  Data class should either be immutable or use __slots__ to save memory
  B903
  # class name should use CapWords convention
  N801
  # function name should be lowercase
  N802
  # exception name should be named with an Error suffix
  N818
  # line too long
  B950
  # Module imported but unused
  F401