[tool.poetry]
name = "workedon"
version = "0.1.0"
description = "CLI tool for daily work logging"
authors = ["viseshrp <viseshrprasad@gmail.com>"]
readme = "README.rst"

[tool.poetry.scripts]
workedon = "workedon.__main__:main"

[tool.poetry.dependencies]
python = ">=3.6"
typer = {extras = ["all"], version = "^0.4.0"}
platformdirs = "^2.4.0"

[tool.poetry.dev-dependencies]
pytest = ">=6.2.5"
flake8 = ">=4.0.1"
pyinvoke = ">=1.0.4"
safety = ">=1.10.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
