name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
  release:
    types: [published]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  smoketest:
    name: Smoke test
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11' ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build requirements
        run: pip install -r requirements/build.txt

      - name: Create wheel
        run: make build

      - name: Install
        run: make install

      - name: Test import
        run: make smoketest

  deploy:
    needs: [ smoketest ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.7'

      - name: Install build requirements
        run: pip install -r requirements/build.txt

      - name: Create wheel
        run: make build

      - name: Validate wheel
        run: twine check dist/*

      # list current directory
      - name: List directory structure
        run: ls -R

      - name: Install
        run: make install

      - name: Upload wheel
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v3
        with:
          name: workedon
          path: dist/
          retention-days: 7
          if-no-files-found: error

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@c7f29f7adef1a245bd91520e94867e5c6eedddcc
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}