name: Test

on: [ push, pull_request ]

env:
  FORCE_COLOR: 1
  PRE_COMMIT_COLOR: "always"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install linter requirements
        run: pip install -r requirements/lint.txt
      - name: Run all pre-commit checks
        run: |
          pre-commit run --all-files --verbose --show-diff-on-failure
      - name: Check if cog needs to be run
        run: |
          cog --check README.md

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11" ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v3
        name: Configure pip caching
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install -e .
          pip install -r requirements/test.txt
      - name: Run tests
        run: |
          make test
